/* @import url('https://fonts.googleapis.com/css?family=Rubic:300,400,500,600,700,800,900&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Rubic', sans-serif; */
}

body {
  max-height: 100%;
  background-color: rgb(240, 240, 240);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  position: relative;
  margin-left: 25px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav {
  display: flex;
  position: relative;
  width: 350px;
  justify-content: space-between;
  margin-right: 30px;
}

.nav li {
  list-style: none;
}

.nav li a {
  font-size: 18px;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 15px;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}

.nav li a:hover {
  background-color: rgb(126, 168, 202);
}

.main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  padding-top: 20px;
}

.img_biden img {
  position: relative;
  width: auto;
  border: 2px solid black;
  margin-left: 25px;
  height: 100%;
}

.img_biden img:hover {
  cursor: url(./pics/hammer.webp) 0 0, default;
}

.bonk_cursor {
  cursor: url(./pics/hammer-bonk.webp) 0 0, default !important;
}

.img_biden {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  overflow: visible;
}

.score {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 20px;
  width: 50%;
  height: 100%;
}
